*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(image/fondo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(208, 213, 215);

}

.container{
    text-align: center;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h2{
    font-weight: bold;
    font-size: 2em;
    
}



.botones{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: stretch ;
    gap: 20px;
}
button{
    width: 25%;
    height:3em;
    background-color: lightskyblue;
    border-radius: 10%;
    font-size: 1em;
    position: sticky;
    
    
}

@media (max-width:885px)  {


    button{
        width: 40%;
        height:6em;
        background-color: lightskyblue;
        border-radius: 10%;
        font-size: 1.8em;
        
        
    }
    }  
.carousel {
    width: 600px;
    height: 600px;    
    overflow: hidden;
    margin: auto;
    border-radius: 15px;
    position: relative;}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
    animation: slide 9s infinite; /
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes slide {
    0%   { margin-left: 0; }
    30%  { margin-left: 0; }

    33%  { margin-left: -100%; }
    63%  { margin-left: -100%; }

    66%  { margin-left: -200%; }
    96%  { margin-left: -200%; }

    100% { margin-left: 0; }
}
