*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{

    background-color: #dad6ca;

}

.container{
    text-align: center;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h2{
    font-weight: bold;
    font-size: 2em;
    
}



.botones{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
    max-width:70rem ;
}
.boton{
    flex: 1 1 25%;
    max-width: 20rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;

    background: #1bb0ce;
    border: 1px solid black;
    border-radius:3rem;

    cursor: pointer;
    transition: transfrom 0.2s ease;
    font-family: 'Times New Roman', Times, serif;
    
}
.boton:hover{
    transform: scale(1.05);
}

@media (max-width:885px)  {


    button{
        width: 40%;
        height:6em;
        background-color: lightskyblue;
        border-radius: 10%;
        font-size: 1.8em;
        
        
        
    }
    }  
.carousel {
    width: 600px;
    height: 600px;    
    overflow: hidden;
    margin: auto;
    border-radius: 15px;
    position: relative;}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
    animation: slide 9s infinite; /
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes slide {
    0%   { margin-left: 0; }
    30%  { margin-left: 0; }

    33%  { margin-left: -100%; }
    63%  { margin-left: -100%; }

    66%  { margin-left: -200%; }
    96%  { margin-left: -200%; }

    100% { margin-left: 0; }
}

.botones-2{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
    max-width:70rem ;
 }
.boton-2{
    flex: 1 1 25%;
    max-width: 20rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;

    background:#1bb0ce;
    border: 1px solid black;
    border-radius:3rem;

    cursor: pointer;
    transition: transfrom 0.2s ease;
    font-family: 'Times New Roman', Times, serif;
}
.boton-2:hover{
    transform: scale(1.05);
}

.seccion{
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.foto{
    width: 60%;
    border-radius: 0.5rem;
    object-fit: cover;
}
.dialogo{ 
    width: 50%;
    text-align: left;
}
.dialogo h2{
    font-size: 1.6rem;
    font-weight: bold;
}
.dialogo p {
    font-size: 1.3rem;
    line-height: 1.6;
}

.dialog-2{
    width: 50%;
    text-align: left;

}

.dialogo-2 h2{
    font-size: 1.6rem;
    font-weight: bold;
}
.dialogo-2 p {
    font-size: 1.1rem;
    line-height: 1.6;
}