* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: rgb(223, 223, 223);
    padding: 2rem;
}


header h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}


.grid-animales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}


.card {
    background: bisque;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: 0.8rem;
}

.card h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.estado {
    font-weight: bold;
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.disponible {
    color: green;
}

.adoptado {
    color: red;
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background: #333;
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}


.perfil {
    display: flex;
    gap: 2rem;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
}

.foto-grande {
    width: 40%;
    border-radius: 1rem;
    object-fit: cover;
}

.info {
    width: 60%;
}

.info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn-adopcion {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    background: #27ae60;
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}