*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    
    background-color: #dad6ca; 
    }



    header h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    header h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    
    .grid-impacto {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
    }
    
    
    .card {
        background: none;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.1);
        text-align: center;
    }
    
    .card img {
        width: 90%;
        height: 15rem;
        object-fit: cover;
        border-radius: 0.8rem;
    }
    
    .card h3 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }



    .grafica{
        background: bisque;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        gap: 2rem;
        height: 25rem;
        margin: 10px;
        

    }

    .caja1{
        border: 1px solid black;
        width: 6rem;
        height: 20rem;
        background: lightblue;
        text-align: center;
    }

    .caja2{
        border: 1px solid black;
        width: 6rem;
        height: 15rem;
        background: lightgreen;
        text-align: center;
    }

    .caja3{
        border: 1px solid black;
        width: 6rem;
        height: 7rem;
        background: salmon;
        text-align: center;
    }

    .caja4{
        border: 1px solid black;
        width: 6rem;
        height: 3rem;
        background: lightyellow;
        text-align: center;
    }

    #primero{
        background: lightblue;
    }

    #segundo{
        background: lightgreen;
    }

    #tercero{
        background-color: salmon;
    }
    #cuarto{
        background: lightyellow;
    }

    h2 {
        text-align: center;
    }

    .narrativa{
        background-color: #1bb0ce;
        border-radius: 2rem;
    }